# Will not sync these

/.venv/
/.git/
/.vscode/tasks.json
__pycache__/

# will sync .gitiginore and vscode settings so all laptops and environments
# are the same for everyone
!/.gitignore
!/.vscode/settings.json
